h1 {
	margin-left: 30px;
}

.details-container h3, .details-container h5{
	display: inline;
	line-height: 2em;
}

.details-container{
	width: 400px;
	min-height: 200px;
	background-color: silver;
	margin-left: 100px;
}

.editable-area{
	height: 15px;
	vertical-align: middle;
	width: 70%

}

